@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    box-sizing: border-box;
}

body {
    /* background-color: snow; */
    background-color: black;
    transition: 0.25s;
    /* margin-bottom: 10%; */
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    position: fixed;
    top: 4.5%;
}

.container {
    /* background-color: #3c3c3c; */
    float: right;
    height: 25px;
    width: 40px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.menulogo {
    height: 4px;
    width: 30px;
    background-color: snow;
}

.menu {
    background-color: rgba(60, 60, 60, 0.6);
    /* background-color: rgba(0, 0, 0, 0.8); */
    backdrop-filter: saturate(180%) blur(20px);
    width: 50%;
    height: 100vh;
    padding: 50px;
    transform: translateX(-500px);
    transition: 0.5s;
    position: fixed;
    top: 0;
}

.menu li {
    list-style-type: none;
    border-bottom: 1px solid black;
    padding: 30px 0;
    text-align: center;
}

.showmenu{
    transform: translateX(0);
}

.menu li:last-child {
    border-bottom: none;
}

.menu li a {
    color: snow;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    transition: font-weight 0.25s;
}

.menu li a:hover{
    font-weight: bold;
}

header {
    display: flex;
    /* flex-direction: row; */
    width: 100%;
    /* border: 5px solid blue; */
    justify-content: center;
    position: absolute;
    top: 15%;
    flex-wrap: wrap;
}

.button {
    /* width: 3%; */
    padding: 15px 32px;
    align-items: left;
    text-align: left;
    /* left: 50%;
    transform: translateX(-50%); */
    top: 10%;
    transition: 0.3s;
    /* border: 5px solid red; */
    background-repeat: no-repeat;
    background-size:contain;
}

.button img{
    width: 100%;
    /* height: 100%; */
    transition: 0.25s;
}

.button img:hover {
    /* transform-origin: right bottom; */
    transform: scale(1.2);
    fill: brown;
}

.title{
    color: snow;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 36px;
}

/* .grid {
    display: grid;
    grid-template-columns: repeat(2,30%);
    background-color: red;
    width: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    justify-items: stretch;

} */

/* .grid p{
    border: 5px solid green;
} */

.left-text{
    color: snow;
    position: absolute;
    top: 20%;
    transform: translateY(-50%);
    left: 30%;
    transform: translateX(-50%);
    font-size: 18px;
    text-align: justify;
    width: 33%;
    max-height: 100%;
    overflow:hidden;
}

.right-text{
    color: snow;
    position: absolute;
    top: 110%;
    transform: translateY(-50%);
    left: 65%;
    transform: translateX(-50%);
    font-size: 18px;
    text-align: justify;
    width: 33%;
    max-height: 50%;
    max-height: 100%;
    overflow:hidden;
}

.right-img {
    position: absolute;
    top: 22.5%;
    transform: translateY(-50%);
    left: 66%;
    transform: translateX(-50%);
    width: 27%;
}

.right-img-2 {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    left: 66%;
    transform: translateX(-50%);
    width: 27%;
}

.left-img {
    position: absolute;
    top: 110%;
    transform: translateY(-50%);
    left: 30%;
    transform: translateX(-50%);
    width: 20%;
}

table {
    border-collapse: collapse;
    width: 100%;
    width: 42.069%;
    position: absolute;
    top: 20%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    color: snow;
    font-size: 18px;
}

th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid snow;
}

table tr td a {
    text-decoration: none;
    color: snow;
}

.lightmode {
    background-color: snow;
    color: black;
}

.lightmode > .menu {
    /* background-color: rgba(60, 60, 60, 0.6); */
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: saturate(180%) blur(20px);
}

.lightmode .menulogo {
    background-color: black;
}

.lightmode .title {
    color: black;
}

.lightmode #text {
    color: black;
}

.lightmode table tr td a{
    color: black;
}

.lightmode th,td {
    border-bottom: 1px solid black;
}

::-moz-selection { /* Code for Firefox */
    color: snow;
    background: #3c3c3c;
}
  
::selection {
    color: snow;
    background: #3c3c3c;
}

/* .lightmode:-moz-selection { /* Code for Firefox
    color: snow;
    background: black;
}
  
.lightmode::selection {
    color: snow;
    background: black;
} */

/* .lightmode > .menu li {
    border-bottom: 1px solid snow;
}

.lightmode > .menu li:last-child {
    border-bottom: none;
} */

@media screen and (min-width:1000px){
    .menu{
        width: 500px;
    }
}

@media screen and (max-width:600px){
    .menu li a{
        font-size: 16px;
    }
    .title{
        top: 6%;
        font-size: 24px;
        left: 50%;
        transform: translateX(-50%);
    }
    .left-text{
        height:max-content;
        font-size: 14px;
        top: 15%;
        transform: translateY(-50%);
        left: 50%;
        transform: translateX(-50%);
        width: 60%;
    }
    .right-text{
        height: max-content;
        font-size: 14px;
        top: 130%;
        transform: translateY(-50%);
        left: 50%;
        transform: translateX(-50%);
        width: 66%;
    }
    .right-img {
        top: 90%;
        width: 20%;
        transform: translateY(-50%);
        left: 50%;
        transform: translateX(-50%);
        width: 50%;
    }
    .right-img-2 {
        top: 110%;
        transform: translateY(-50%);
        left: 50%;
        transform: translateX(-50%);
        width: 50%;
    }
    .wrapper {
        left: 2.5%;
    }
    .left-img {
        top: 170%;
        transform: translateY(-50%);
        left: 50%;
        transform: translateX(-50%);
        width: 35%;
    }
    .table {
        font-size: 14px;
    }
}